body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


.card{
    height: 70vh;
    width: 29%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    transition-duration: 500ms;
    background-color: rgb(245, 245, 245);

}
.card:hover{
    filter:brightness(80%)
}
.card-title{
    font-size: 2.2rem;
    margin:0.5rem 0;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;}
.sub{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin-top: -5px;
}
.title{
    font-family: 'Marcellus', serif;
    font-size: 5.2rem;
    text-align: center;
}
.card-img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: 50% top;
    animation: mymove 1s 1;
}
@keyframes mymove {
    from {height: 0%;}
    to {height: 50%;}
  }
.card-p{
    font-size: 1.2rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.container, #container2{
    flex-flow: row wrap;
    display:flex;
    width:90vw;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;

}



.surprise-img{
    display:hidden
}


@keyframes surprise {
    from {height: 0%;}
    to {height: 50%;}
  }

button{
    font-size: 2rem;
    padding:5px;
}

button:hover{
    cursor:pointer;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card{
        width:95%
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card{
        width:95%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card{
        width:45%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card{
        width:28%
    }
    .container{
        width:80%;
    }
}
